API_HOST=localhost
API_PORT=8080

AGORA_APP_ID=your_agora_app_id_here

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_UPLOAD_PRESET=your_upload_preset
CLOUDINARY_FOLDER_ROOT=chattrix

GIPHY_API_KEY=your_giphy_api_key_here

